In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
pd.options.display.max_colwidth=500

In [2]:
up = pd.read_csv('up.csv')

In [33]:
up.head(5)

,Unnamed: 0,name,new_des
0,0,Campus Bubble,campus bubble cb academic community network linkedin professional community network facebook social community network cb provides academic institutions student powered cross platform private online community focused
1,1,DueProps,unprecedented
2,2,SalesLoft,build highquality prospect lists
3,3,The Coca-Cola Company,cocacola journey digital magazine focuses important topics social causes news the cocacola company
4,5,REscour,rescour data platform decision engine utilizes proprietary market analysis based massive data aggregation identify commercial real estate investment opportunities rescour onesizefitsall communicates custom tailored recommendations

In [4]:
a = list(up['new_des'])

In [5]:
a

['campus bubble cb academic community network linkedin professional community network facebook social community network cb provides academic institutions student powered cross platform private online community focused',
 'unprecedented',
 'build highquality prospect lists',
 'cocacola journey digital magazine focuses important topics social causes news the cocacola company',
 'rescour data platform decision engine utilizes proprietary market analysis based massive data aggregation identify commercial real estate investment opportunities rescour onesizefitsall communicates custom tailored recommendations',
 'viacycle creates bicycle sharing technology flexible inexpensive easy use users unlock smart bikes instantly using cell phone operators place bikes anywhere kiosks special infrastructure required we enable bike',
 'kabbage delivers small businesses financing both ecommerce brickandmortar small businesses turn kabbage need funds fast',
 'smartmenus webbased ordering kiosks tablets serve virtual cashiers virtual dietitians restaurant industry',
 'rovides realtime study communities 40 opencourseware oer providers marrying open content open',
 'weco provides people analytics hospitality industry allow better recruit retain motivate staff our tools gather data hospitality professionals ranging work history social data point sale data this allows customers',
 'the movl connect platform kontroltv provide tools gateway second screen tv apps allowing developers easily create monetize multiscreen multiuser compatible solutions smarttv market create application seamlessly',
 'platform intelligently predicts ideal people precise actions drive measurable impact through proprietary predictive analytics',
 'triplingo upgrades trips business leisure travelers making easy fun learn local language culture providing customized relevant phrases content smartphone web triplingo provides travelers quick easy',
 'agency spotter organizing world marketing services advertising agencies digital agencies design firms market research with almost 1 trillion spent brands space annually agency spotter helping build efficient informative marketplace',
 'rencies designed internet much safer efficient form payment credit cards',
 'transactiontree transforms delivery sales receipt opportunity retailers increase customer satisfaction support loyalty programs enhance relationships reducing carbon footprint email delivery online access allows customers',
 'attentively reveals email marketing list saying social media influence attentively makes easy target right message right people identifying influentials well trending topics hashtags shared urls using',
 'ts true innovation mixer market driven largely brands existed',
 'hms',
 'ere stopping bad guys']

In [6]:
num_start = len(a)

In [7]:
startid = ["start_" + str(i) for i in range(num_start)]

start_dict = dict(zip(startid, a))

ids = list(start_dict.keys())

pairs = []
for i, v in enumerate(ids):
    for j in ids[i+1:]:
        pairs.append((ids[i], j))
print("There are a total of:" + str(len(pairs)) + " pairs")
display(pairs[:10])
display(pairs[-10:])

There are a total of:190 pairs

[('start_0', 'start_1'),
 ('start_0', 'start_2'),
 ('start_0', 'start_3'),
 ('start_0', 'start_4'),
 ('start_0', 'start_5'),
 ('start_0', 'start_6'),
 ('start_0', 'start_7'),
 ('start_0', 'start_8'),
 ('start_0', 'start_9'),
 ('start_0', 'start_10')]

[('start_15', 'start_16'),
 ('start_15', 'start_17'),
 ('start_15', 'start_18'),
 ('start_15', 'start_19'),
 ('start_16', 'start_17'),
 ('start_16', 'start_18'),
 ('start_16', 'start_19'),
 ('start_17', 'start_18'),
 ('start_17', 'start_19'),
 ('start_18', 'start_19')]

In [8]:
from normalization import *

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(min_df=0.0, max_df=1.0, ngram_range=(1,1))
vectorizer

TfidfVectorizer(min_df=0.0)

In [10]:
# calculate the feature matrix
feature_matrix = vectorizer.fit_transform(a).astype(float)

# display the shape of feature matrix
display(feature_matrix.shape)

# display the first feature vector
display(feature_matrix[0])

# display the dense version of the feature vector
display(feature_matrix.toarray()[0])

# display the shape of dense feature vector
display(feature_matrix.toarray()[0].shape)

# display the first document text
display(a[0])

(20, 269)

<1x269 sparse matrix of type '<class 'numpy.float64'>'
	with 19 stored elements in Compressed Sparse Row format>

array([0.        , 0.29342782, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.14671391, 0.        ,
       0.        , 0.        , 0.14671391, 0.        , 0.        ,
       0.        , 0.        , 0.29342782, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.58685564, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.14671391, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.14671391,
       0.        , 0.        , 0.        , 0.        , 0.14671391,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.14671391, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.14671391, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.44014173,
       0.        , 0.        , 0.        , 0.12896377, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.10660124, 0.        , 0.14671391,
       0.        , 0.        , 0.        , 0.14671391, 0.14671391,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.11636985, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.10660124, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.14671391, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        ])

(269,)

'campus bubble cb academic community network linkedin professional community network facebook social community network cb provides academic institutions student powered cross platform private online community focused'

In [11]:
def compute_cosine_similarity(pair):

    # extract the indexes from the pair
    start1, start2 = pair

    # split on _ and get index
    start1_index = int(start1.split("_")[1])
    start2_index = int(start2.split("_")[1])

    # get the feature matrix of the document
    start1_fm = feature_matrix.toarray()[start1_index]
    start2_fm = feature_matrix.toarray()[start2_index]

    # compute cosine similarity manually
    manual_cosine_similarity = np.dot(start1_fm, start2_fm)

    return manual_cosine_similarity

In [12]:
pairwise_cosine_similarity = [compute_cosine_similarity(pair) for pair in pairs]

# create a dataframe
df = pd.DataFrame({'pair': pairs, 'similarity': pairwise_cosine_similarity})
display (df.head(40))

                   pair  similarity
0    (start_0, start_1)    0.000000
1    (start_0, start_2)    0.000000
2    (start_0, start_3)    0.020816
3    (start_0, start_4)    0.014929
4    (start_0, start_5)    0.000000
5    (start_0, start_6)    0.000000
6    (start_0, start_7)    0.000000
7    (start_0, start_8)    0.000000
8    (start_0, start_9)    0.029730
9   (start_0, start_10)    0.015018
10  (start_0, start_11)    0.021733
11  (start_0, start_12)    0.017164
12  (start_0, start_13)    0.000000
13  (start_0, start_14)    0.000000
14  (start_0, start_15)    0.022631
15  (start_0, start_16)    0.014670
16  (start_0, start_17)    0.000000
17  (start_0, start_18)    0.000000
18  (start_0, start_19)    0.000000
19   (start_1, start_2)    0.000000
20   (start_1, start_3)    0.000000
21   (start_1, start_4)    0.000000
22   (start_1, start_5)    0.000000
23   (start_1, start_6)    0.000000
24   (start_1, start_7)    0.000000
25   (start_1, start_8)    0.000000
26   (start_1, start_9)    0.000000
27  (start_1, start_10)    0.000000
28  (start_1, start_11)    0.000000
29  (start_1, start_12)    0.000000
30  (start_1, start_13)    0.000000
31  (start_1, start_14)    0.000000
32  (start_1, start_15)    0.000000
33  (start_1, start_16)    0.000000
34  (start_1, start_17)    0.000000
35  (start_1, start_18)    0.000000
36  (start_1, start_19)    0.000000
37   (start_2, start_3)    0.000000
38   (start_2, start_4)    0.000000
39   (start_2, start_5)    0.000000

In [13]:
investor = pd.read_csv('investors.csv')
investor.head(5)

,Unnamed: 0,Organization Name,Description,Number of Investments,new_des
0,0,Alumni Ventures Group,Alumni Ventures Group provides diversified venture portfolios to individual investors who previously havent had access to VC,835,alumni ventures group provides diversified venture portfolios individual investors previously havent access vc
1,1,Tech Coast Angels,Invests in highgrowth startups headquartered in Southern California,567,invests highgrowth startups headquartered southern california
2,2,Ontario Centres of Excellence,The Ontario Centres of Excellence invests in projects and people to accelerate industry RD to impact the Ontario economy through the,433,the ontario centres excellence invests projects people accelerate industry rd impact ontario economy
3,3,StartEngine,StartEngine is an equity crowdfunding platform that allows everyday people to invest and own shares in startups and earlystage companies,349,startengine equity crowdfunding platform allows everyday people invest shares startups earlystage companies
4,4,SFC Capital,Earlystage investor combining its own angel syndicate seed funds to provide investors with diversified exposure to SEISEIS businesses,331,earlystage investor combining angel syndicate seed funds provide investors diversified exposure seiseis businesses

In [14]:
b = list(investor['new_des'])
b

['alumni ventures group provides diversified venture portfolios individual investors previously havent access vc',
 'invests highgrowth startups headquartered southern california',
 'the ontario centres excellence invests projects people accelerate industry rd impact ontario economy',
 'startengine equity crowdfunding platform allows everyday people invest shares startups earlystage companies',
 'earlystage investor combining angel syndicate seed funds provide investors diversified exposure seiseis businesses',
 'keiretsu forum californiabased angel group offers early seed later stage venture debt financing investments',
 'sand hill angels venture capital firm invests internet information technology clean tech consumer life sciences businesses',
 'we group 140 active angel investors each year invest 10m 20 startups provide mentorship help succeed',
 'va angels also known va angels angel investor network',
 'houston angel network provides capital earlystage companies texas rest us',
 'gobeyond enables individuals access angel investing asset class',
 'keiretsu forum northwest washingtonbased angel investor focused earlystage technology real estate medical device companies',
 'new york angels professional angel organization finds funds mentors companies pitch successful exit',
 'mumbai angels indian angel investment network connects startups entrepreneurs professionals willing fund',
 'indian angel network one leading angel investors network india we business angel informal investor',
 'zillionize low friction startup investor portfolio 100 fast growing startups',
 'letsventure enables startups looking raise money create investment ready profiles online connect accredited investors',
 'anges québec network 230 angel investors invest capital time innovative québecbased companies aiming scale globally',
 'venturesouth early stage venture firm operates angel groups funds',
 'boston harbor angels group proven business leaders interested investing portion assets high growth early stage']

In [15]:
num_invest = len(b)

In [22]:
investorid = ["investor_" + str(i) for i in range(num_invest)]

invest_dict = dict(zip(investorid, b))

ids1 = list(invest_dict.keys())

pairs1 = []
for i in range (len(a)):
    for v in range (len(b)):
        pairs1.append((ids[i], ids1[v]))
print("There are a total of:" + str(len(pairs1)) + " pairs")
display(pairs1[:10])
display(pairs1[-10:])

There are a total of:400 pairs

[('start_0', 'investor_0'),
 ('start_0', 'investor_1'),
 ('start_0', 'investor_2'),
 ('start_0', 'investor_3'),
 ('start_0', 'investor_4'),
 ('start_0', 'investor_5'),
 ('start_0', 'investor_6'),
 ('start_0', 'investor_7'),
 ('start_0', 'investor_8'),
 ('start_0', 'investor_9')]

[('start_19', 'investor_10'),
 ('start_19', 'investor_11'),
 ('start_19', 'investor_12'),
 ('start_19', 'investor_13'),
 ('start_19', 'investor_14'),
 ('start_19', 'investor_15'),
 ('start_19', 'investor_16'),
 ('start_19', 'investor_17'),
 ('start_19', 'investor_18'),
 ('start_19', 'investor_19')]

In [38]:
c = a + b
c

['campus bubble cb academic community network linkedin professional community network facebook social community network cb provides academic institutions student powered cross platform private online community focused',
 'unprecedented',
 'build highquality prospect lists',
 'cocacola journey digital magazine focuses important topics social causes news the cocacola company',
 'rescour data platform decision engine utilizes proprietary market analysis based massive data aggregation identify commercial real estate investment opportunities rescour onesizefitsall communicates custom tailored recommendations',
 'viacycle creates bicycle sharing technology flexible inexpensive easy use users unlock smart bikes instantly using cell phone operators place bikes anywhere kiosks special infrastructure required we enable bike',
 'kabbage delivers small businesses financing both ecommerce brickandmortar small businesses turn kabbage need funds fast',
 'smartmenus webbased ordering kiosks tablets serve virtual cashiers virtual dietitians restaurant industry',
 'rovides realtime study communities 40 opencourseware oer providers marrying open content open',
 'weco provides people analytics hospitality industry allow better recruit retain motivate staff our tools gather data hospitality professionals ranging work history social data point sale data this allows customers',
 'the movl connect platform kontroltv provide tools gateway second screen tv apps allowing developers easily create monetize multiscreen multiuser compatible solutions smarttv market create application seamlessly',
 'platform intelligently predicts ideal people precise actions drive measurable impact through proprietary predictive analytics',
 'triplingo upgrades trips business leisure travelers making easy fun learn local language culture providing customized relevant phrases content smartphone web triplingo provides travelers quick easy',
 'agency spotter organizing world marketing services advertising agencies digital agencies design firms market research with almost 1 trillion spent brands space annually agency spotter helping build efficient informative marketplace',
 'rencies designed internet much safer efficient form payment credit cards',
 'transactiontree transforms delivery sales receipt opportunity retailers increase customer satisfaction support loyalty programs enhance relationships reducing carbon footprint email delivery online access allows customers',
 'attentively reveals email marketing list saying social media influence attentively makes easy target right message right people identifying influentials well trending topics hashtags shared urls using',
 'ts true innovation mixer market driven largely brands existed',
 'hms',
 'ere stopping bad guys',
 'alumni ventures group provides diversified venture portfolios individual investors previously havent access vc',
 'invests highgrowth startups headquartered southern california',
 'the ontario centres excellence invests projects people accelerate industry rd impact ontario economy',
 'startengine equity crowdfunding platform allows everyday people invest shares startups earlystage companies',
 'earlystage investor combining angel syndicate seed funds provide investors diversified exposure seiseis businesses',
 'keiretsu forum californiabased angel group offers early seed later stage venture debt financing investments',
 'sand hill angels venture capital firm invests internet information technology clean tech consumer life sciences businesses',
 'we group 140 active angel investors each year invest 10m 20 startups provide mentorship help succeed',
 'va angels also known va angels angel investor network',
 'houston angel network provides capital earlystage companies texas rest us',
 'gobeyond enables individuals access angel investing asset class',
 'keiretsu forum northwest washingtonbased angel investor focused earlystage technology real estate medical device companies',
 'new york angels professional angel organization finds funds mentors companies pitch successful exit',
 'mumbai angels indian angel investment network connects startups entrepreneurs professionals willing fund',
 'indian angel network one leading angel investors network india we business angel informal investor',
 'zillionize low friction startup investor portfolio 100 fast growing startups',
 'letsventure enables startups looking raise money create investment ready profiles online connect accredited investors',
 'anges québec network 230 angel investors invest capital time innovative québecbased companies aiming scale globally',
 'venturesouth early stage venture firm operates angel groups funds',
 'boston harbor angels group proven business leaders interested investing portion assets high growth early stage']

In [26]:
# calculate the feature matrix
feature_matrix = vectorizer.fit_transform(c).astype(float)

# display the shape of feature matrix
display(feature_matrix.shape)

# display the first feature vector
display(feature_matrix[0])

# display the dense version of the feature vector
display(feature_matrix.toarray()[0])

# display the shape of dense feature vector
display(feature_matrix.toarray()[0].shape)

# display the first document text
display(c[0])

(40, 407)

<1x407 sparse matrix of type '<class 'numpy.float64'>'
	with 19 stored elements in Compressed Sparse Row format>

array([0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.31151538, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.15575769, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.15575769, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.31151538, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.62303077, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.15575769, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.15575769, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.14004932, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.15575769, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.15575769, 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.32167095, 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.12890406, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.11319569,
       0.        , 0.        , 0.        , 0.        , 0.15575769,
       0.        , 0.        , 0.        , 0.        , 0.15575769,
       0.14004932, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.11319569, 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.12025912, 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.15575769,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

(407,)

'campus bubble cb academic community network linkedin professional community network facebook social community network cb provides academic institutions student powered cross platform private online community focused'

In [36]:
def compute_cosine_similarity(pair):

    # extract the indexes from the pair
    investor0, start1 = pair

    # split on _ and get index
    investor0_index = int(investor0.split("_")[1])
    start1_index = int(start1.split("_")[1])

    # get the feature matrix of the document
    investor0_fm = feature_matrix.toarray()[investor0_index]
    start1_fm = feature_matrix.toarray()[start1_index]

    # compute cosine similarity manually
    manual_cosine_similarity = np.dot(investor0_fm, start1_fm)

    return manual_cosine_similarity

In [37]:
pairwise_cosine_similarity = [compute_cosine_similarity(pair) for pair in pairs1]

# create a dataframe
df = pd.DataFrame({'pair': pairs1, 'similarity': pairwise_cosine_similarity})
display (df.head(40))

                      pair  similarity
0    (start_0, investor_0)    1.000000
1    (start_0, investor_1)    0.000000
2    (start_0, investor_2)    0.000000
3    (start_0, investor_3)    0.024906
4    (start_0, investor_4)    0.015990
5    (start_0, investor_5)    0.000000
6    (start_0, investor_6)    0.000000
7    (start_0, investor_7)    0.000000
8    (start_0, investor_8)    0.000000
9    (start_0, investor_9)    0.030702
10  (start_0, investor_10)    0.016340
11  (start_0, investor_11)    0.023285
12  (start_0, investor_12)    0.015339
13  (start_0, investor_13)    0.000000
14  (start_0, investor_14)    0.000000
15  (start_0, investor_15)    0.021478
16  (start_0, investor_16)    0.017534
17  (start_0, investor_17)    0.000000
18  (start_0, investor_18)    0.000000
19  (start_0, investor_19)    0.000000
20   (start_1, investor_0)    0.000000
21   (start_1, investor_1)    1.000000
22   (start_1, investor_2)    0.000000
23   (start_1, investor_3)    0.000000
24   (start_1, investor_4)    0.000000
25   (start_1, investor_5)    0.000000
26   (start_1, investor_6)    0.000000
27   (start_1, investor_7)    0.000000
28   (start_1, investor_8)    0.000000
29   (start_1, investor_9)    0.000000
30  (start_1, investor_10)    0.000000
31  (start_1, investor_11)    0.000000
32  (start_1, investor_12)    0.000000
33  (start_1, investor_13)    0.000000
34  (start_1, investor_14)    0.000000
35  (start_1, investor_15)    0.000000
36  (start_1, investor_16)    0.000000
37  (start_1, investor_17)    0.000000
38  (start_1, investor_18)    0.000000
39  (start_1, investor_19)    0.000000